.course {
  &-header {
    grid-template-columns: 1fr;

    @media screen and (min-width: $text-breakpoint-lg) {
      grid-template-columns: 3fr 1fr;
    }

    &-right {
      width: 100%;
      grid-template-columns: 40% auto;

      .course-header-description {
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 21px;
        max-height: 63px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media screen and (min-width: 768px) {
          line-height: 21px;
          max-height: 42px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        @media screen and (min-width: 1024px) {
          line-height: 21px;
          max-height: 84px;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }

        @media screen and (min-width: 1536px) {
          line-height: 30px;
          max-height: 120px;
        }
      }
    }
  }

  &-author {
    .course-author-about {
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 25px;
      max-height: 100px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @media screen and (min-width: 1024px) {
        max-height: 84px;
        -webkit-line-clamp: auto;
        -webkit-box-orient: vertical;
      }

      @media screen and (min-width: 1536px) {
        line-height: 30px;
        max-height: auto;
      }
    }
  }

  &-page-card {
    &-description {
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 21px;
      max-height: 81px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @media screen and (min-width: 1024px) {
        max-height: 84px;
        -webkit-line-clamp: auto;
        -webkit-box-orient: vertical;
      }

      @media screen and (min-width: 1536px) {
        line-height: 30px;
        max-height: auto;
      }
    }

    &-background {
      height: 160px;
      @media screen and (min-width: 1024px) {
        height: 200px;
      }

      @media screen and (min-width: 1536px) {
        height: 240px;
      }
    }
  }

  &-page-user-comment {
    .course-page-user-comment-stars {
      .star {
        .empty {
          display: block;
        }
        .fill {
          display: none;
        }

        &:hover {
          .empty {
            display: none;
          }

          .fill {
            display: block;
          }
        }
      }
    }
  }
}

.course-chapters {
  grid-template-columns: 1fr;

  @media screen and (min-width: $text-breakpoint-md) {
    grid-template-columns: 1fr 2fr;
  }
}

.comment-stars {
}

.comment-stars > span {
  width: 12px;
  @media screen and (min-width: $text-breakpoint-md) {
    width: 14px;
  }
  @media screen and (min-width: $text-breakpoint-xx) {
    width: 16px;
  }
}

.search-container {
  background: #f0f2f2;
  border-radius: 12px;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
  width: 100%;

  &:hover {
    box-shadow: 0 0 0 1px $karsaz-primary;
  }

  &.focus {
    background-color: #f0f2f2;
    box-shadow: 0 0 0 2px $karsaz-primary;
  }

  input.search,
  input.search:focus,
  input.search:hover,
  input.search.error,
  input.search.success,
  input.search.warning {
    background: transparent !important;
    box-shadow: none !important;
    color: inherit !important;
    border: none !important;
    border-radius: 0;
    width: 100%;
  }

  button img {
    width: 30px !important;
    height: 30px !important;
    margin: 0 !important;
  }

  @media screen and (min-width: $text-breakpoint-lg) {
    max-width: 550px;
  }
}
