.courses {
  .search-container {
    background: #f0f2f2;
    border-radius: 12px;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 0 1px $karsaz-primary;
    }

    &.focus {
      background-color: #f0f2f2;
      box-shadow: 0 0 0 2px $karsaz-primary;
    }

    input.search,
    input.search:focus,
    input.search:hover,
    input.search.error,
    input.search.success,
    input.search.warning {
      background: transparent !important;
      box-shadow: none !important;
      color: inherit !important;
      border: none !important;
      border-radius: 0;
    }

    button img {
      width: 30px !important;
      height: 30px !important;
      margin: 0 !important;
    }
  }
}

.courses-mobile-filters {
  @extend .courses;
}

.courses-desktop-filters {
  .filters-section {
    &-items {
      max-height: 320px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: $karsaz-primary $karsaz-light-gray;

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: $karsaz-light-gray;
        border-radius: 50px;
      }
      &::-webkit-scrollbar-thumb {
        background: $karsaz-primary;
        border-radius: 50px;
      }
    }
  }
}

.course {
  &-card {
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: repeat(1, 1fr);
    @media screen and (min-width: 768px) {
      grid-template-columns: 33% auto;
      -ms-grid-columns: 33% auto;
    }

    &-title {
      line-height: 26px;
    }
  }
}
