/* Dashboard Module */
@import 'colors';

.dashboard {
  &-item {
    &-indicator {
      width: 4px;
      height: 22px;
      margin-left: calc(1rem - 4px);
      background: transparent;
      border-radius: 24px 0 0 24px;
      @media screen and (min-width: 1280px) {
        height: 30px;
      }

      &.active {
        background-color: $karsaz-primary;
      }

      button {
        font-weight: auto;
      }
    }
  }
}

.dashboard-user-row {
  .avatar {
    width: 48px;
    height: 48px;

    @media screen and (min-width: 1536px) {
      width: 80px;
      height: 80px;
    }
  }
}

.dashboard-main-table-item {
  &:nth-child(even) {
    background: $karsaz-light;
  }
  &:nth-child(odd) {
    background: $karsaz-light-gray;
  }
}

.dashboard-wallet-area-amount {
  grid-area: amount;
}

.dashboard-wallet-area-info {
  grid-area: info;
}

.dashboard-wallet-container {
  grid-template-columns: 1fr;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 2fr 1fr;
  }
}

.dashboard-wallet-form {
  grid-template-columns: 1fr;

  @media screen and (min-width: 1280px) {
    grid-template-columns: 2fr 1fr;
  }
}

.dashboard-purchases {
  table {
    tbody tr:nth-child(odd) td {
      background-color: #f4f4f4;
    }
    tbody tr:nth-child(even) {
      // background-color: #fbfbfb;
    }
  }
}
tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.dashboard-profile-dropdown {
  div input {
    border: none !important;
    box-shadow: none !important;
    &:focus,
    &:hover {
      border: none !important;
      box-shadow: none !important;
    }
  }

  input,
  input:focus,
  .input:hover {
    border: none;
    box-shadow: none;
  }
}

.ks-table-responsive::after,
.ks-table-responsive::before {
  box-sizing: border-box !important;
}

@media (max-screen: 768px) {
  .ks-table-responsive {
    display: block !important;
    width: 100% !important;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }

  .ks-table-responsive .table {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 1rem !important;
    /* background-color: transparent !important; */
  }
}

.dashboard-table-container {
  display: block;
  // padding: 1rem;

  table {
    width: 100%;

    tr:not(thead tr) {
      &:nth-child(odd) {
        background: #f0f2f2;
      }
    }

    th {
      color: $karsaz-primary;
    }

    th {
      text-align: right;
    }

    th,
    td {
      padding: 1rem;
    }
  }

  @media screen and (max-width: 640px) {
    table {
      display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 1rem;
      scrollbar-width: thin;
      scrollbar-color: #118ab2 #f4f4f4;

      &::-webkit-scrollbar {
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #f4f4f4;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        background: #118ab2;
        border-radius: 50px;
      }
    }
  }

  /* Regular responsive approach for fonts */
  table {
    th {
      font-size: 14px;
      font-weight: 500;

      @media (min-width: 1536px) {
        font-size: 18px;
        font-weight: 700;
      }
    }
    td {
      font-size: 12px;
      font-weight: 400;

      @media (min-width: 1536px) {
        font-size: 16px;
      }
    }
  }
}
