@import 'variables';

.page-header {
  &-chill {
    background: url('../assets/illustrations/pattern.svg') repeat, $karsaz-primary;
  }

  &-pacific {
    background: url('../assets/illustrations/pattern.svg') repeat, #00a7bc;
  }

  &-content {
    &-chill {
      background: linear-gradient(
        to left,
        rgba(17, 138, 178, 1),
        rgba(17, 138, 178, 1),
        rgba(17, 138, 178, 0.2)
      );
      // background: $karsaz-primary;
      // box-shadow: 10px 0 50 10px $karsaz-primary;
      @media screen and (min-width: $text-breakpoint-lg) {
        background: linear-gradient(
          to left,
          rgba(17, 138, 178, 1),
          rgba(17, 138, 178, 1),
          rgba(17, 138, 178, 0.6),
          rgba(17, 138, 178, 0.2)
        );
      }
    }

    &-pacific {
      background: linear-gradient(
        to left,
        rgba(0, 167, 188, 1),
        rgba(0, 167, 188, 1),
        rgba(0, 167, 188, 0.2)
      );
      // background: $karsaz-primary;
      // box-shadow: 10px 0 50 10px $karsaz-primary;
      @media screen and (min-width: $text-breakpoint-lg) {
        background: linear-gradient(
          to left,
          rgba(0, 167, 188, 1),
          rgba(0, 167, 188, 1),
          rgba(0, 167, 188, 0.6),
          rgba(0, 167, 188, 0.2)
        );
      }
    }
  }
  &-title {
    font-size: 1.375rem;

    @media screen and (min-width: $text-breakpoint-lg) {
      font-size: 1.75rem;
    }
  }
}

.avatar {
  width: 32px;
  height: 32px;

  @media screen and (min-width: $text-breakpoint-xx) {
    width: 50px;
    height: 50px;
  }
}

.user-avatar {
  width: 50px;
  height: 50px;
}

.icon {
  width: 24px;
  height: 24px;

  @media screen and (min-width: $text-breakpoint-xx) {
    width: 32px;
    height: 32px;
  }
}

.detail-page-bg-fade {
  height: 160px;
  width: 100%;
  background: $karsaz-primary;
  position: absolute;
  opacity: 0.5;
}

.detail-page-bg-pattern {
  background: url('../assets/illustrations/pattern.svg') repeat, $karsaz-primary;
  // background-size: 100% 160px;
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0;
}

.detail-page-content {
  position: relative;
  top: 1.2rem;
}
