$karsaz-primary: #118ab2;
$karsaz-secondary: #2c2c2c;

$karsaz-success: #11b262;
$karsaz-info: #11bab2;
$karsaz-warning: #b26f11;
$karsaz-error: #b21111;

$karsaz-primary-light: #eef5f7;

$karsaz-primary-pale: #f0f2f2;
$karsaz-success-pale: #f2fbf7;
$karsaz-warning-pale: #fbfbf2;
$karsaz-error-pale: #fbf2f2;

$karsaz-white: #fefefe;
$karsaz-light: #fbfbfb;
$karsaz-light-gray: #f4f4f4;
$karsaz-gray: #f6f9fb;
$karsaz-dark-gray: #e2e2e2;
$karsaz-dark: #878787;

$karsaz-disable: #e2e2e2;

$text-breakpoint-sm: 640px;
$text-breakpoint-md: 768px;
$text-breakpoint-lg: 1024px;
$text-breakpoint-xl: 1280px;
$text-breakpoint-xx: 1536px;
$text-breakpoint-2x: 1536px;
$text-breakpoint-3x: 1920px;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xx: 1536px;
$breakpoint-2x: 1536px;
$breakpoint-3x: 1920px;
